@use '../../styles/variables' as *;
@use '../../styles/animations' as *;

.Door {
    
    &__frame {
        height: fit-content;
        width: min(15rem, 30%);
        overflow: hidden;
        border: 1px solid;
        perspective: 100rem;
    }

    &__img {
        width: 100%;
        transform-origin: top left;
        

        &--opening {
            animation: door-open 1s ease 0.5s 1 forwards;
        }

        &--opened {
            transform: rotateY($door-open-angle);
        }
    }
}